<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>AiFang 4.2</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>AiFang</key>
		<dict>
			<key>AppLog</key>
			<data>
			cGSEvEAcwpBxoYLoz9+QgOLLEu1nBTxk8u9quy2YIh0=
			</data>
			<key>Community</key>
			<data>
			ZbPZxNurXbT7Epfza7r9Gei2sLvB+/EoNLB+FhrhIoQ=
			</data>
			<key>TuanGou</key>
			<data>
			XwM+E2NRI+nwJMiO6vZkzVEl9wO70gzZZtAlcTuT77w=
			</data>
		</dict>
		<key>AiFang 2.1</key>
		<dict>
			<key>AppLog</key>
			<data>
			cGSEvEAcwpBxoYLoz9+QgOLLEu1nBTxk8u9quy2YIh0=
			</data>
			<key>Community</key>
			<data>
			ZX4WwJtfEIleQPz0Rfsmvl5G2Cb9Fdh8a4Fe+zPmfOo=
			</data>
			<key>TuanGou</key>
			<data>
			XwM+E2NRI+nwJMiO6vZkzVEl9wO70gzZZtAlcTuT77w=
			</data>
		</dict>
		<key>AiFang 3.0</key>
		<dict>
			<key>AppLog</key>
			<data>
			cGSEvEAcwpBxoYLoz9+QgOLLEu1nBTxk8u9quy2YIh0=
			</data>
			<key>Community</key>
			<data>
			PEnGIoz1t1lPEXnZXNMrSHEKFovGwjzqcYjcmD99fh4=
			</data>
			<key>Property</key>
			<data>
			Nnd4BbJV5IOdNNU+DUmPxGRhAcWJqTctt7hLLlN8cBU=
			</data>
			<key>TuanGou</key>
			<data>
			XwM+E2NRI+nwJMiO6vZkzVEl9wO70gzZZtAlcTuT77w=
			</data>
		</dict>
		<key>AiFang 3.3</key>
		<dict>
			<key>AppLog</key>
			<data>
			cGSEvEAcwpBxoYLoz9+QgOLLEu1nBTxk8u9quy2YIh0=
			</data>
			<key>Community</key>
			<data>
			wIbSPYQrxE9+ariQIqKHPX+WvVlOXq0LCaW5FvHXxhU=
			</data>
			<key>Property</key>
			<data>
			e62/uHiD39BllsTjVy6DA4sg4TBFIcWq7csEjjnJRIE=
			</data>
			<key>TuanGou</key>
			<data>
			XwM+E2NRI+nwJMiO6vZkzVEl9wO70gzZZtAlcTuT77w=
			</data>
		</dict>
		<key>AiFang 3.4</key>
		<dict>
			<key>AppLog</key>
			<data>
			cGSEvEAcwpBxoYLoz9+QgOLLEu1nBTxk8u9quy2YIh0=
			</data>
			<key>Community</key>
			<data>
			wIbSPYQrxE9+ariQIqKHPX+WvVlOXq0LCaW5FvHXxhU=
			</data>
			<key>Favorite</key>
			<data>
			KfisEZKGMLam6SoOnMetACOGLzhJu1N9COfMBc72Q4k=
			</data>
			<key>History</key>
			<data>
			+Bk9IAB5ktNAzANMcF88df8g2s1g+4lEtYPLTlz0Bac=
			</data>
			<key>Property</key>
			<data>
			e62/uHiD39BllsTjVy6DA4sg4TBFIcWq7csEjjnJRIE=
			</data>
			<key>TuanGou</key>
			<data>
			mZag8gu27YQdHfVG/6clnC2PyPzE47UUgvxiS+F8/BU=
			</data>
		</dict>
		<key>AiFang 4.0</key>
		<dict>
			<key>AppLog</key>
			<data>
			cGSEvEAcwpBxoYLoz9+QgOLLEu1nBTxk8u9quy2YIh0=
			</data>
			<key>Community</key>
			<data>
			QOf63/9qI6GcQIJXtrjSnaUV8sn1lQ+YSJiylLTK9Ow=
			</data>
			<key>Favorite</key>
			<data>
			KfisEZKGMLam6SoOnMetACOGLzhJu1N9COfMBc72Q4k=
			</data>
			<key>History</key>
			<data>
			+Bk9IAB5ktNAzANMcF88df8g2s1g+4lEtYPLTlz0Bac=
			</data>
			<key>News</key>
			<data>
			7piXXMoNE6STRruK8W440NoJVT3lNT4kPn8YPj3mz7Y=
			</data>
			<key>Property</key>
			<data>
			e62/uHiD39BllsTjVy6DA4sg4TBFIcWq7csEjjnJRIE=
			</data>
			<key>TuanGou</key>
			<data>
			mZag8gu27YQdHfVG/6clnC2PyPzE47UUgvxiS+F8/BU=
			</data>
		</dict>
		<key>AiFang 4.2</key>
		<dict>
			<key>AppLog</key>
			<data>
			cGSEvEAcwpBxoYLoz9+QgOLLEu1nBTxk8u9quy2YIh0=
			</data>
			<key>Community</key>
			<data>
			QOf63/9qI6GcQIJXtrjSnaUV8sn1lQ+YSJiylLTK9Ow=
			</data>
			<key>Favorite</key>
			<data>
			3eLNp2XbrmTqAjHonqb2eIzmI7bpzxweQQyTCdya9Ts=
			</data>
			<key>History</key>
			<data>
			+Bk9IAB5ktNAzANMcF88df8g2s1g+4lEtYPLTlz0Bac=
			</data>
			<key>News</key>
			<data>
			7piXXMoNE6STRruK8W440NoJVT3lNT4kPn8YPj3mz7Y=
			</data>
			<key>Property</key>
			<data>
			e62/uHiD39BllsTjVy6DA4sg4TBFIcWq7csEjjnJRIE=
			</data>
			<key>TuanGou</key>
			<data>
			mZag8gu27YQdHfVG/6clnC2PyPzE47UUgvxiS+F8/BU=
			</data>
		</dict>
	</dict>
</dict>
</plist>
